.elementor-104 .elementor-element.elementor-element-5b2483f {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-start;
    --align-items: stretch;
    --gap: 0% 0%;
    --flex-wrap: nowrap;
    --overflow: hidden;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-left: 20px;
    --padding-right: 20px;
}

.elementor-104 .elementor-element.elementor-element-5b2483f:not(.elementor-motion-effects-element-type-background),
.elementor-104 .elementor-element.elementor-element-5b2483f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-104 .elementor-element.elementor-element-5b2483f,
.elementor-104 .elementor-element.elementor-element-5b2483f::before {
    --border-transition: 0.3s;
}

.elementor-104 .elementor-element.elementor-element-ddddbab {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 5% 5%;
    --flex-wrap: nowrap;
    --background-transition: 0.3s;
    --border-radius: 3px 3px 3px 3px;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0%;
    --padding-bottom: 0%;
    --padding-left: 0%;
    --padding-right: 5%;
}

.elementor-104 .elementor-element.elementor-element-ddddbab:not(.elementor-motion-effects-element-type-background),
.elementor-104 .elementor-element.elementor-element-ddddbab>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F4F4F4;
}

.elementor-104 .elementor-element.elementor-element-ddddbab,
.elementor-104 .elementor-element.elementor-element-ddddbab::before {
    --border-transition: 0.3s;
}

.elementor-104 .elementor-element.elementor-element-55844ec {
    --display: flex;
    --min-height: 48vh;
    --flex-direction: column;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --align-items: flex-end;
    --background-transition: 0.3s;
    --border-radius: 3px 0px 0px 3px;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-left: 20px;
    --padding-right: 20px;
}

.elementor-104 .elementor-element.elementor-element-b36d870 .elementor-wrapper {
    --video-aspect-ratio: 1.33333;
}

.elementor-104 .elementor-element.elementor-element-b36d870>.elementor-widget-container {
    border-radius: 3px 3px 3px 3px;
}

.elementor-104 .elementor-element.elementor-element-eae1a75 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --gap: 30px 30px;
    --flex-wrap: wrap;
    --background-transition: 0.3s;
    --padding-top: 5%;
    --padding-bottom: 5%;
    --padding-left: 0%;
    --padding-right: 0%;
}

.elementor-104 .elementor-element.elementor-element-ba2a899 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-104 .elementor-element.elementor-element-44c49e2 .elementor-heading-title {
    font-family: "Merriweather", Sans-serif;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: 0.1px;
}

.elementor-104 .elementor-element.elementor-element-e01448d {
    color: var( --e-global-color-secondary);
    font-family: "Quicksand", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.5em;
    letter-spacing: 0.3px;
    word-spacing: 0em;
    width: var( --container-widget-width, 100%);
    max-width: 100%;
    --container-widget-width: 100%;
    --container-widget-flex-grow: 0;
}

.elementor-104 .elementor-element.elementor-element-e01448d>.elementor-widget-container {
    margin: 0px 0px -15px 0px;
}

.elementor-104 .elementor-element.elementor-element-5ed2666 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-start;
    --align-items: stretch;
    --gap: 0% 0%;
    --flex-wrap: nowrap;
    --overflow: hidden;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-left: 20px;
    --padding-right: 20px;
}

.elementor-104 .elementor-element.elementor-element-5ed2666:not(.elementor-motion-effects-element-type-background),
.elementor-104 .elementor-element.elementor-element-5ed2666>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-104 .elementor-element.elementor-element-5ed2666,
.elementor-104 .elementor-element.elementor-element-5ed2666::before {
    --border-transition: 0.3s;
}

.elementor-104 .elementor-element.elementor-element-d690ab5 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 5% 5%;
    --flex-wrap: nowrap;
    --background-transition: 0.3s;
    --border-radius: 3px 3px 3px 3px;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0%;
    --padding-bottom: 0%;
    --padding-left: 5%;
    --padding-right: 0%;
}

.elementor-104 .elementor-element.elementor-element-d690ab5:not(.elementor-motion-effects-element-type-background),
.elementor-104 .elementor-element.elementor-element-d690ab5>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F4F4F4;
}

.elementor-104 .elementor-element.elementor-element-d690ab5,
.elementor-104 .elementor-element.elementor-element-d690ab5::before {
    --border-transition: 0.3s;
}

.elementor-104 .elementor-element.elementor-element-2d6e054 {
    --display: flex;
    --min-height: 48vh;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --border-radius: 3px 0px 0px 3px;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-104 .elementor-element.elementor-element-2d6e054:not(.elementor-motion-effects-element-type-background),
.elementor-104 .elementor-element.elementor-element-2d6e054>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://colinfarrellfoundation.org/wp-content/uploads/2024/07/Erin.2013.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-104 .elementor-element.elementor-element-2d6e054,
.elementor-104 .elementor-element.elementor-element-2d6e054::before {
    --border-transition: 0.3s;
}

.elementor-104 .elementor-element.elementor-element-2d6e054.e-con {
    --order: 99999/* order end hack */
    ;
}

.elementor-104 .elementor-element.elementor-element-29a17da {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --gap: 30px 30px;
    --flex-wrap: wrap;
    --background-transition: 0.3s;
    --padding-top: 0%;
    --padding-bottom: 0%;
    --padding-left: 0%;
    --padding-right: 0%;
}

.elementor-104 .elementor-element.elementor-element-edcd17d {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-104 .elementor-element.elementor-element-88f33f2 .elementor-heading-title {
    font-family: "Merriweather", Sans-serif;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: 0.1px;
}

.elementor-104 .elementor-element.elementor-element-e49389c {
    color: var( --e-global-color-secondary);
    font-family: "Quicksand", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.5em;
    letter-spacing: 0.3px;
    word-spacing: 0em;
    width: var( --container-widget-width, 100%);
    max-width: 100%;
    --container-widget-width: 100%;
    --container-widget-flex-grow: 0;
}

.elementor-104 .elementor-element.elementor-element-e49389c>.elementor-widget-container {
    margin: 0px 0px -15px 0px;
}

.elementor-104 .elementor-element.elementor-element-685907f {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-start;
    --align-items: stretch;
    --gap: 0% 0%;
    --flex-wrap: nowrap;
    --overflow: hidden;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 20px;
    --padding-left: 20px;
    --padding-right: 20px;
}

.elementor-104 .elementor-element.elementor-element-685907f:not(.elementor-motion-effects-element-type-background),
.elementor-104 .elementor-element.elementor-element-685907f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-104 .elementor-element.elementor-element-685907f,
.elementor-104 .elementor-element.elementor-element-685907f::before {
    --border-transition: 0.3s;
}

.elementor-104 .elementor-element.elementor-element-addf408 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --flex-wrap: nowrap;
    --background-transition: 0.3s;
    --border-radius: 3px 3px 3px 3px;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 5%;
    --padding-bottom: 5%;
    --padding-left: 5%;
    --padding-right: 5%;
}

.elementor-104 .elementor-element.elementor-element-addf408:not(.elementor-motion-effects-element-type-background),
.elementor-104 .elementor-element.elementor-element-addf408>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-e52e660);
}

.elementor-104 .elementor-element.elementor-element-addf408,
.elementor-104 .elementor-element.elementor-element-addf408::before {
    --border-transition: 0.3s;
}

.elementor-104 .elementor-element.elementor-element-b6fe7e8 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-104 .elementor-element.elementor-element-a8e0108 .elementor-heading-title {
    font-family: "Merriweather", Sans-serif;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: 0.1px;
}

.elementor-104 .elementor-element.elementor-element-83a6574>.elementor-widget-container>.jet-listing-grid>.jet-listing-grid__items {
    --columns: 4;
}

:is( .elementor-104 .elementor-element.elementor-element-83a6574>.elementor-widget-container>.jet-listing-grid>.jet-listing-grid__items,
.elementor-104 .elementor-element.elementor-element-83a6574>.elementor-widget-container>.jet-listing-grid>.jet-listing-grid__slider>.jet-listing-grid__items>.slick-list>.slick-track,
.elementor-104 .elementor-element.elementor-element-83a6574>.elementor-widget-container>.jet-listing-grid>.jet-listing-grid__scroll-slider>.jet-listing-grid__items)>.jet-listing-grid__item {
    padding-left: calc(30px / 2);
    padding-right: calc(30px / 2);
    padding-top: calc(30px / 2);
    padding-bottom: calc(30px / 2);
}

:is( .elementor-104 .elementor-element.elementor-element-83a6574>.elementor-widget-container>.jet-listing-grid,
.elementor-104 .elementor-element.elementor-element-83a6574>.elementor-widget-container>.jet-listing-grid>.jet-listing-grid__slider,
.elementor-104 .elementor-element.elementor-element-83a6574>.elementor-widget-container>.jet-listing-grid>.jet-listing-grid__scroll-slider)>.jet-listing-grid__items {
    margin-left: calc( 30px / -2);
    margin-right: calc( 30px / -2);
    width: calc(100% + 30px);
}

:is( .elementor-104 .elementor-element.elementor-element-83a6574>.elementor-widget-container>.jet-listing-grid,
.elementor-104 .elementor-element.elementor-element-83a6574>.elementor-widget-container>.jet-listing-grid>.jet-listing-grid__slider,
.elementor-104 .elementor-element.elementor-element-83a6574>.elementor-widget-container>.jet-listing-grid>.jet-listing-grid__scroll-slider)>.jet-listing-grid__items.grid-collapse-gap {
    margin-top: calc( 30px / -2);
    margin-bottom: calc( 30px / -2);
}

.elementor-104 .elementor-element.elementor-element-f296132 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-start;
    --align-items: stretch;
    --gap: 0% 0%;
    --flex-wrap: nowrap;
    --overflow: hidden;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 20px;
    --padding-left: 20px;
    --padding-right: 20px;
}

.elementor-104 .elementor-element.elementor-element-f296132:not(.elementor-motion-effects-element-type-background),
.elementor-104 .elementor-element.elementor-element-f296132>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-104 .elementor-element.elementor-element-f296132,
.elementor-104 .elementor-element.elementor-element-f296132::before {
    --border-transition: 0.3s;
}

.elementor-104 .elementor-element.elementor-element-3715352 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 5% 5%;
    --flex-wrap: nowrap;
    --background-transition: 0.3s;
    --border-radius: 3px 3px 3px 3px;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 5%;
    --padding-bottom: 5%;
    --padding-left: 5%;
    --padding-right: 5%;
}

.elementor-104 .elementor-element.elementor-element-3715352:not(.elementor-motion-effects-element-type-background),
.elementor-104 .elementor-element.elementor-element-3715352>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-e52e660);
}

.elementor-104 .elementor-element.elementor-element-3715352,
.elementor-104 .elementor-element.elementor-element-3715352::before {
    --border-transition: 0.3s;
}

.elementor-104 .elementor-element.elementor-element-3fb8f60 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-start;
    --gap: 0px 0px;
    --flex-wrap: wrap;
    --background-transition: 0.3s;
    --padding-top: 0%;
    --padding-bottom: 0%;
    --padding-left: 0%;
    --padding-right: 0%;
}

.elementor-104 .elementor-element.elementor-element-f0205ff {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-104 .elementor-element.elementor-element-6d16374 .elementor-heading-title {
    font-family: "Merriweather", Sans-serif;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: 0.1px;
}

.elementor-104 .elementor-element.elementor-element-fce0338 .elementor-button-content-wrapper {
    flex-direction: row-reverse;
}

.elementor-104 .elementor-element.elementor-element-fce0338 .elementor-button .elementor-button-content-wrapper {
    gap: 10px;
}

.elementor-104 .elementor-element.elementor-element-fce0338 .elementor-button {
    font-family: "Quicksand", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 1.02px;
    word-spacing: 0em;
    fill: #455141;
    color: #455141;
    background-color: #61CE7000;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #F0F0F0;
    border-radius: 3px 3px 3px 3px;
    padding: 0px 0px 0px 0px;
}

.elementor-104 .elementor-element.elementor-element-fce0338 .elementor-button:hover,
.elementor-104 .elementor-element.elementor-element-fce0338 .elementor-button:focus {
    color: #455141;
    background-color: #02010100;
    border-color: var( --e-global-color-accent);
}

.elementor-104 .elementor-element.elementor-element-fce0338 .elementor-button:hover svg,
.elementor-104 .elementor-element.elementor-element-fce0338 .elementor-button:focus svg {
    fill: #455141;
}

.elementor-104 .elementor-element.elementor-element-ad541bd .elementor-button-content-wrapper {
    flex-direction: row-reverse;
}

.elementor-104 .elementor-element.elementor-element-ad541bd .elementor-button .elementor-button-content-wrapper {
    gap: 10px;
}

.elementor-104 .elementor-element.elementor-element-ad541bd .elementor-button {
    font-family: "Quicksand", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 1.02px;
    word-spacing: 0em;
    fill: #455141;
    color: #455141;
    background-color: #61CE7000;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #F0F0F0;
    border-radius: 3px 3px 3px 3px;
    padding: 0px 0px 0px 0px;
}

.elementor-104 .elementor-element.elementor-element-ad541bd .elementor-button:hover,
.elementor-104 .elementor-element.elementor-element-ad541bd .elementor-button:focus {
    color: #455141;
    background-color: #02010100;
    border-color: var( --e-global-color-accent);
}

.elementor-104 .elementor-element.elementor-element-ad541bd .elementor-button:hover svg,
.elementor-104 .elementor-element.elementor-element-ad541bd .elementor-button:focus svg {
    fill: #455141;
}

.elementor-104 .elementor-element.elementor-element-231decd .elementor-button-content-wrapper {
    flex-direction: row-reverse;
}

.elementor-104 .elementor-element.elementor-element-231decd .elementor-button .elementor-button-content-wrapper {
    gap: 10px;
}

.elementor-104 .elementor-element.elementor-element-231decd .elementor-button {
    font-family: "Quicksand", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 1.02px;
    word-spacing: 0em;
    fill: #455141;
    color: #455141;
    background-color: #61CE7000;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #F0F0F0;
    border-radius: 3px 3px 3px 3px;
    padding: 0px 0px 0px 0px;
}

.elementor-104 .elementor-element.elementor-element-231decd .elementor-button:hover,
.elementor-104 .elementor-element.elementor-element-231decd .elementor-button:focus {
    color: #455141;
    background-color: #02010100;
    border-color: var( --e-global-color-accent);
}

.elementor-104 .elementor-element.elementor-element-231decd .elementor-button:hover svg,
.elementor-104 .elementor-element.elementor-element-231decd .elementor-button:focus svg {
    fill: #455141;
}

body.elementor-page-104:not(.elementor-motion-effects-element-type-background),
body.elementor-page-104>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

@media(max-width:1366px) {
    .elementor-104 .elementor-element.elementor-element-55844ec {
        --min-height: 38vh;
    }
    .elementor-104 .elementor-element.elementor-element-44c49e2 .elementor-heading-title {
        line-height: 1.2em;
    }
    .elementor-104 .elementor-element.elementor-element-e01448d>.elementor-widget-container {
        margin: 0px 0px -15px 0px;
    }
    .elementor-104 .elementor-element.elementor-element-2d6e054 {
        --min-height: 38vh;
    }
    .elementor-104 .elementor-element.elementor-element-2d6e054:not(.elementor-motion-effects-element-type-background),
    .elementor-104 .elementor-element.elementor-element-2d6e054>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-size: cover;
    }
    .elementor-104 .elementor-element.elementor-element-88f33f2 .elementor-heading-title {
        line-height: 1.2em;
    }
    .elementor-104 .elementor-element.elementor-element-e49389c>.elementor-widget-container {
        margin: 0px 0px -15px 0px;
    }
    .elementor-104 .elementor-element.elementor-element-a8e0108 .elementor-heading-title {
        line-height: 1.2em;
    }
    .elementor-104 .elementor-element.elementor-element-6d16374 .elementor-heading-title {
        line-height: 1.2em;
    }
}

@media(max-width:1024px) {
    .elementor-104 .elementor-element.elementor-element-5b2483f {
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --gap: 20px 20px;
    }
    .elementor-104 .elementor-element.elementor-element-ddddbab {
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --gap: 0% 0%;
        --flex-wrap: wrap;
        --padding-top: 0%;
        --padding-bottom: 0%;
        --padding-left: 0%;
        --padding-right: 0%;
    }
    .elementor-104 .elementor-element.elementor-element-55844ec {
        --min-height: 300px;
        --border-radius: 0px 0px 3px 3px;
        --margin-top: 0%;
        --margin-bottom: 0%;
        --margin-left: 0%;
        --margin-right: 0%;
        --z-index: 0;
    }
    .elementor-104 .elementor-element.elementor-element-55844ec.e-con {
        --order: 99999/* order end hack */
        ;
    }
    .elementor-104 .elementor-element.elementor-element-eae1a75 {
        --justify-content: center;
        --align-items: flex-start;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
        --margin-top: 0%;
        --margin-bottom: 0%;
        --margin-left: 0%;
        --margin-right: 0%;
        --padding-top: 5%;
        --padding-bottom: 5%;
        --padding-left: 5%;
        --padding-right: 5%;
        --z-index: 1;
    }
    .elementor-104 .elementor-element.elementor-element-ba2a899 {
        --padding-top: 0%;
        --padding-bottom: 0%;
        --padding-left: 0%;
        --padding-right: 0%;
    }
    .elementor-104 .elementor-element.elementor-element-e01448d {
        text-align: left;
        font-size: 16px;
    }
    .elementor-104 .elementor-element.elementor-element-5ed2666 {
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --gap: 20px 20px;
    }
    .elementor-104 .elementor-element.elementor-element-d690ab5 {
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --gap: 0% 0%;
        --flex-wrap: wrap;
        --padding-top: 0%;
        --padding-bottom: 0%;
        --padding-left: 0%;
        --padding-right: 0%;
    }
    .elementor-104 .elementor-element.elementor-element-2d6e054 {
        --min-height: 300px;
        --border-radius: 0px 0px 3px 3px;
        --margin-top: 0%;
        --margin-bottom: 0%;
        --margin-left: 0%;
        --margin-right: 0%;
        --z-index: 0;
    }
    .elementor-104 .elementor-element.elementor-element-2d6e054:not(.elementor-motion-effects-element-type-background),
    .elementor-104 .elementor-element.elementor-element-2d6e054>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: top center;
    }
    .elementor-104 .elementor-element.elementor-element-29a17da {
        --justify-content: center;
        --align-items: flex-start;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
        --margin-top: 0%;
        --margin-bottom: 0%;
        --margin-left: 0%;
        --margin-right: 0%;
        --padding-top: 5%;
        --padding-bottom: 5%;
        --padding-left: 5%;
        --padding-right: 5%;
        --z-index: 1;
    }
    .elementor-104 .elementor-element.elementor-element-edcd17d {
        --padding-top: 0%;
        --padding-bottom: 0%;
        --padding-left: 0%;
        --padding-right: 0%;
    }
    .elementor-104 .elementor-element.elementor-element-e49389c {
        text-align: left;
        font-size: 16px;
    }
    .elementor-104 .elementor-element.elementor-element-685907f {
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --gap: 20px 20px;
    }
    .elementor-104 .elementor-element.elementor-element-b6fe7e8 {
        --padding-top: 0%;
        --padding-bottom: 0%;
        --padding-left: 0%;
        --padding-right: 0%;
    }
    .elementor-104 .elementor-element.elementor-element-83a6574>.elementor-widget-container>.jet-listing-grid>.jet-listing-grid__items {
        --columns: 3;
    }
    .elementor-104 .elementor-element.elementor-element-f296132 {
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --gap: 20px 20px;
    }
    .elementor-104 .elementor-element.elementor-element-3fb8f60 {
        --justify-content: center;
        --align-items: flex-start;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
        --margin-top: 0%;
        --margin-bottom: 0%;
        --margin-left: 0%;
        --margin-right: 0%;
        --padding-top: 0%;
        --padding-bottom: 0%;
        --padding-left: 0%;
        --padding-right: 0%;
    }
    .elementor-104 .elementor-element.elementor-element-f0205ff {
        --padding-top: 0%;
        --padding-bottom: 0%;
        --padding-left: 0%;
        --padding-right: 0%;
    }
    .elementor-104 .elementor-element.elementor-element-fce0338 .elementor-button {
        font-size: 14px;
    }
    .elementor-104 .elementor-element.elementor-element-fce0338 {
        width: initial;
        max-width: initial;
        align-self: flex-start;
    }
    .elementor-104 .elementor-element.elementor-element-ad541bd .elementor-button {
        font-size: 14px;
    }
    .elementor-104 .elementor-element.elementor-element-ad541bd {
        width: initial;
        max-width: initial;
        align-self: flex-start;
    }
    .elementor-104 .elementor-element.elementor-element-231decd .elementor-button {
        font-size: 14px;
    }
    .elementor-104 .elementor-element.elementor-element-231decd {
        width: initial;
        max-width: initial;
        align-self: flex-start;
    }
}

@media(max-width:767px) {
    .elementor-104 .elementor-element.elementor-element-5b2483f {
        --width: 100%;
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --padding-top: 10px;
        --padding-bottom: 10px;
        --padding-left: 10px;
        --padding-right: 10px;
    }
    .elementor-104 .elementor-element.elementor-element-ddddbab {
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --padding-top: 0%;
        --padding-bottom: 0%;
        --padding-left: 0%;
        --padding-right: 0%;
    }
    .elementor-104 .elementor-element.elementor-element-55844ec {
        --min-height: 235px;
        --border-radius: 0px 0px 3px 3px;
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }
    .elementor-104 .elementor-element.elementor-element-55844ec.e-con {
        --order: 99999/* order end hack */
        ;
    }
    .elementor-104 .elementor-element.elementor-element-eae1a75 {
        --width: 100%;
        --gap: 20px 20px;
        --padding-top: 20px;
        --padding-bottom: 20px;
        --padding-left: 20px;
        --padding-right: 20px;
    }
    .elementor-104 .elementor-element.elementor-element-eae1a75.e-con {
        --order: -99999/* order start hack */
        ;
    }
    .elementor-104 .elementor-element.elementor-element-ba2a899 {
        --gap: 10px 10px;
        --padding-top: 0%;
        --padding-bottom: 0%;
        --padding-left: 0%;
        --padding-right: 0%;
    }
    .elementor-104 .elementor-element.elementor-element-5ed2666 {
        --width: 100%;
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --padding-top: 10px;
        --padding-bottom: 10px;
        --padding-left: 10px;
        --padding-right: 10px;
    }
    .elementor-104 .elementor-element.elementor-element-d690ab5 {
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --padding-top: 0%;
        --padding-bottom: 0%;
        --padding-left: 0%;
        --padding-right: 0%;
    }
    .elementor-104 .elementor-element.elementor-element-2d6e054 {
        --min-height: 235px;
        --border-radius: 0px 0px 3px 3px;
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }
    .elementor-104 .elementor-element.elementor-element-2d6e054:not(.elementor-motion-effects-element-type-background),
    .elementor-104 .elementor-element.elementor-element-2d6e054>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: top center;
        background-size: cover;
    }
    .elementor-104 .elementor-element.elementor-element-2d6e054.e-con {
        --order: 99999/* order end hack */
        ;
    }
    .elementor-104 .elementor-element.elementor-element-29a17da {
        --width: 100%;
        --gap: 20px 20px;
        --padding-top: 20px;
        --padding-bottom: 20px;
        --padding-left: 20px;
        --padding-right: 20px;
    }
    .elementor-104 .elementor-element.elementor-element-29a17da.e-con {
        --order: -99999/* order start hack */
        ;
    }
    .elementor-104 .elementor-element.elementor-element-edcd17d {
        --gap: 10px 10px;
        --padding-top: 0%;
        --padding-bottom: 0%;
        --padding-left: 0%;
        --padding-right: 0%;
    }
    .elementor-104 .elementor-element.elementor-element-685907f {
        --width: 100%;
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --padding-top: 10px;
        --padding-bottom: 10px;
        --padding-left: 10px;
        --padding-right: 10px;
    }
    .elementor-104 .elementor-element.elementor-element-addf408 {
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --padding-top: 20px;
        --padding-bottom: 20px;
        --padding-left: 20px;
        --padding-right: 20px;
    }
    .elementor-104 .elementor-element.elementor-element-b6fe7e8 {
        --gap: 0px 0px;
        --padding-top: 0%;
        --padding-bottom: 0%;
        --padding-left: 0%;
        --padding-right: 0%;
    }
    .elementor-104 .elementor-element.elementor-element-83a6574>.elementor-widget-container>.jet-listing-grid>.jet-listing-grid__items {
        --columns: 2;
    }
    :is( .elementor-104 .elementor-element.elementor-element-83a6574>.elementor-widget-container>.jet-listing-grid>.jet-listing-grid__items,
    .elementor-104 .elementor-element.elementor-element-83a6574>.elementor-widget-container>.jet-listing-grid>.jet-listing-grid__slider>.jet-listing-grid__items>.slick-list>.slick-track,
    .elementor-104 .elementor-element.elementor-element-83a6574>.elementor-widget-container>.jet-listing-grid>.jet-listing-grid__scroll-slider>.jet-listing-grid__items)>.jet-listing-grid__item {
        padding-left: calc(10px / 2);
        padding-right: calc(10px / 2);
        padding-top: calc(10px / 2);
        padding-bottom: calc(10px / 2);
    }
    :is( .elementor-104 .elementor-element.elementor-element-83a6574>.elementor-widget-container>.jet-listing-grid,
    .elementor-104 .elementor-element.elementor-element-83a6574>.elementor-widget-container>.jet-listing-grid>.jet-listing-grid__slider,
    .elementor-104 .elementor-element.elementor-element-83a6574>.elementor-widget-container>.jet-listing-grid>.jet-listing-grid__scroll-slider)>.jet-listing-grid__items {
        margin-left: calc( 10px / -2);
        margin-right: calc( 10px / -2);
        width: calc(100% + 10px);
    }
    :is( .elementor-104 .elementor-element.elementor-element-83a6574>.elementor-widget-container>.jet-listing-grid,
    .elementor-104 .elementor-element.elementor-element-83a6574>.elementor-widget-container>.jet-listing-grid>.jet-listing-grid__slider,
    .elementor-104 .elementor-element.elementor-element-83a6574>.elementor-widget-container>.jet-listing-grid>.jet-listing-grid__scroll-slider)>.jet-listing-grid__items.grid-collapse-gap {
        margin-top: calc( 10px / -2);
        margin-bottom: calc( 10px / -2);
    }
    .elementor-104 .elementor-element.elementor-element-f296132 {
        --width: 100%;
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --padding-top: 10px;
        --padding-bottom: 10px;
        --padding-left: 10px;
        --padding-right: 10px;
    }
    .elementor-104 .elementor-element.elementor-element-3715352 {
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --padding-top: 0%;
        --padding-bottom: 0%;
        --padding-left: 0%;
        --padding-right: 0%;
    }
    .elementor-104 .elementor-element.elementor-element-3fb8f60 {
        --width: 100%;
        --padding-top: 20px;
        --padding-bottom: 20px;
        --padding-left: 20px;
        --padding-right: 20px;
    }
    .elementor-104 .elementor-element.elementor-element-3fb8f60.e-con {
        --order: -99999/* order start hack */
        ;
    }
    .elementor-104 .elementor-element.elementor-element-f0205ff {
        --padding-top: 0%;
        --padding-bottom: 0%;
        --padding-left: 0%;
        --padding-right: 0%;
    }
    .elementor-104 .elementor-element.elementor-element-fce0338 {
        width: 100%;
        max-width: 100%;
    }
    .elementor-104 .elementor-element.elementor-element-ad541bd {
        width: 100%;
        max-width: 100%;
    }
    .elementor-104 .elementor-element.elementor-element-231decd {
        width: 100%;
        max-width: 100%;
    }
}

@media(min-width:768px) {
    .elementor-104 .elementor-element.elementor-element-55844ec {
        --width: 48%;
    }
    .elementor-104 .elementor-element.elementor-element-eae1a75 {
        --width: 60%;
    }
    .elementor-104 .elementor-element.elementor-element-2d6e054 {
        --width: 48%;
    }
    .elementor-104 .elementor-element.elementor-element-29a17da {
        --width: 60%;
    }
    .elementor-104 .elementor-element.elementor-element-3fb8f60 {
        --width: 100%;
    }
}

@media(max-width:1366px) and (min-width:768px) {
    .elementor-104 .elementor-element.elementor-element-55844ec {
        --width: 50%;
    }
    .elementor-104 .elementor-element.elementor-element-eae1a75 {
        --width: 64%;
    }
    .elementor-104 .elementor-element.elementor-element-2d6e054 {
        --width: 50%;
    }
    .elementor-104 .elementor-element.elementor-element-29a17da {
        --width: 64%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-104 .elementor-element.elementor-element-55844ec {
        --width: 100%;
    }
    .elementor-104 .elementor-element.elementor-element-eae1a75 {
        --width: 100%;
    }
    .elementor-104 .elementor-element.elementor-element-2d6e054 {
        --width: 100%;
    }
    .elementor-104 .elementor-element.elementor-element-29a17da {
        --width: 100%;
    }
    .elementor-104 .elementor-element.elementor-element-3fb8f60 {
        --width: 100%;
    }
}

@media(min-width:1367px) {
    .elementor-104 .elementor-element.elementor-element-2d6e054:not(.elementor-motion-effects-element-type-background),
    .elementor-104 .elementor-element.elementor-element-2d6e054>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: scroll;
    }
}

@media(min-width:1557px) {
    .elementor-104 .elementor-element.elementor-element-d690ab5 {
        --padding-top: 0%;
        --padding-bottom: 0%;
        --padding-left: 5%;
        --padding-right: 0%;
    }
    .elementor-104 .elementor-element.elementor-element-2d6e054:not(.elementor-motion-effects-element-type-background),
    .elementor-104 .elementor-element.elementor-element-2d6e054>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: top center;
        background-size: cover;
    }
    .elementor-104 .elementor-element.elementor-element-83a6574>.elementor-widget-container>.jet-listing-grid>.jet-listing-grid__items {
        --columns: 5;
    }
    :is( .elementor-104 .elementor-element.elementor-element-83a6574>.elementor-widget-container>.jet-listing-grid>.jet-listing-grid__items,
    .elementor-104 .elementor-element.elementor-element-83a6574>.elementor-widget-container>.jet-listing-grid>.jet-listing-grid__slider>.jet-listing-grid__items>.slick-list>.slick-track,
    .elementor-104 .elementor-element.elementor-element-83a6574>.elementor-widget-container>.jet-listing-grid>.jet-listing-grid__scroll-slider>.jet-listing-grid__items)>.jet-listing-grid__item {
        padding-left: calc(40px / 2);
        padding-right: calc(40px / 2);
        padding-top: calc(40px / 2);
        padding-bottom: calc(40px / 2);
    }
    :is( .elementor-104 .elementor-element.elementor-element-83a6574>.elementor-widget-container>.jet-listing-grid,
    .elementor-104 .elementor-element.elementor-element-83a6574>.elementor-widget-container>.jet-listing-grid>.jet-listing-grid__slider,
    .elementor-104 .elementor-element.elementor-element-83a6574>.elementor-widget-container>.jet-listing-grid>.jet-listing-grid__scroll-slider)>.jet-listing-grid__items {
        margin-left: calc( 40px / -2);
        margin-right: calc( 40px / -2);
        width: calc(100% + 40px);
    }
    :is( .elementor-104 .elementor-element.elementor-element-83a6574>.elementor-widget-container>.jet-listing-grid,
    .elementor-104 .elementor-element.elementor-element-83a6574>.elementor-widget-container>.jet-listing-grid>.jet-listing-grid__slider,
    .elementor-104 .elementor-element.elementor-element-83a6574>.elementor-widget-container>.jet-listing-grid>.jet-listing-grid__scroll-slider)>.jet-listing-grid__items.grid-collapse-gap {
        margin-top: calc( 40px / -2);
        margin-bottom: calc( 40px / -2);
    }
}