.elementor-36 .elementor-element.elementor-element-43ead8fe {
    --display: flex;
    --min-height: 100px;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: stretch;
    --gap: 0px 0px;
    --overflow: hidden;
    --background-transition: 0.3s;
    --margin-top: 0%;
    --margin-bottom: 0%;
    --margin-left: 0%;
    --margin-right: 0%;
    --padding-top: 0%;
    --padding-bottom: 0%;
    --padding-left: 8%;
    --padding-right: 8%;
    --z-index: 95;
}

.elementor-36 .elementor-element.elementor-element-43ead8fe:not(.elementor-motion-effects-element-type-background),
.elementor-36 .elementor-element.elementor-element-43ead8fe>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-36 .elementor-element.elementor-element-43ead8fe,
.elementor-36 .elementor-element.elementor-element-43ead8fe::before {
    --border-transition: 0.3s;
}

.elementor-36 .elementor-element.elementor-element-b20c77c {
    --e-off-canvas-width: 100%;
    --e-off-canvas-height: 100vh;
    --e-off-canvas-content-overflow: auto;
    --e-off-canvas-overlay-opacity: 0;
}

.elementor-36 .elementor-element.elementor-element-b20c77c .e-off-canvas__content {
    background-color: var( --e-global-color-e52e660);
}

.elementor-36 .elementor-element.elementor-element-41349cb {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-36 .elementor-element.elementor-element-68acef8 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-36 .elementor-element.elementor-element-f96392b {
    --display: flex;
    --min-height: 100px;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: stretch;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --margin-top: 0%;
    --margin-bottom: 0%;
    --margin-left: 0%;
    --margin-right: 0%;
    --padding-top: 0%;
    --padding-bottom: 0%;
    --padding-left: 8%;
    --padding-right: 8%;
    --z-index: 95;
}

.elementor-36 .elementor-element.elementor-element-f96392b:not(.elementor-motion-effects-element-type-background),
.elementor-36 .elementor-element.elementor-element-f96392b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-e52e660);
}

.elementor-36 .elementor-element.elementor-element-f96392b,
.elementor-36 .elementor-element.elementor-element-f96392b::before {
    --border-transition: 0.3s;
}

.elementor-36 .elementor-element.elementor-element-6def04d .elementor-icon-wrapper {
    text-align: center;
}

.elementor-36 .elementor-element.elementor-element-c0d1cf2 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-36 .elementor-element.elementor-element-ac25374 .elementor-button {
    font-family: "Quicksand", Sans-serif;
    font-weight: 600;
    fill: var( --e-global-color-primary);
    color: var( --e-global-color-primary);
    background-color: var( --e-global-color-e52e660);
    border-style: solid;
    border-color: #EBEBEB;
}

.elementor-36 .elementor-element.elementor-element-ac25374 .elementor-button:hover,
.elementor-36 .elementor-element.elementor-element-ac25374 .elementor-button:focus {
    color: var( --e-global-color-secondary);
    background-color: #EBEBEB;
}

.elementor-36 .elementor-element.elementor-element-ac25374 .elementor-button:hover svg,
.elementor-36 .elementor-element.elementor-element-ac25374 .elementor-button:focus svg {
    fill: var( --e-global-color-secondary);
}

.elementor-36 .elementor-element.elementor-element-9283080 .elementor-button {
    font-family: "Quicksand", Sans-serif;
    font-weight: 600;
    fill: var( --e-global-color-primary);
    color: var( --e-global-color-primary);
    background-color: var( --e-global-color-e52e660);
    border-style: solid;
    border-color: #EBEBEB;
}

.elementor-36 .elementor-element.elementor-element-9283080 .elementor-button:hover,
.elementor-36 .elementor-element.elementor-element-9283080 .elementor-button:focus {
    color: var( --e-global-color-secondary);
    background-color: #EBEBEB;
}

.elementor-36 .elementor-element.elementor-element-9283080 .elementor-button:hover svg,
.elementor-36 .elementor-element.elementor-element-9283080 .elementor-button:focus svg {
    fill: var( --e-global-color-secondary);
}

.elementor-36 .elementor-element.elementor-element-43feff7 .elementor-button {
    font-family: "Quicksand", Sans-serif;
    font-weight: 600;
    fill: var( --e-global-color-primary);
    color: var( --e-global-color-primary);
    background-color: var( --e-global-color-e52e660);
    border-style: solid;
    border-color: #EBEBEB;
}

.elementor-36 .elementor-element.elementor-element-43feff7 .elementor-button:hover,
.elementor-36 .elementor-element.elementor-element-43feff7 .elementor-button:focus {
    color: var( --e-global-color-secondary);
    background-color: #EBEBEB;
}

.elementor-36 .elementor-element.elementor-element-43feff7 .elementor-button:hover svg,
.elementor-36 .elementor-element.elementor-element-43feff7 .elementor-button:focus svg {
    fill: var( --e-global-color-secondary);
}

.elementor-36 .elementor-element.elementor-element-176d687 .elementor-button {
    font-family: "Quicksand", Sans-serif;
    font-weight: 600;
    fill: var( --e-global-color-primary);
    color: var( --e-global-color-primary);
    background-color: var( --e-global-color-e52e660);
    border-style: solid;
    border-color: #EBEBEB;
}

.elementor-36 .elementor-element.elementor-element-176d687 .elementor-button:hover,
.elementor-36 .elementor-element.elementor-element-176d687 .elementor-button:focus {
    color: var( --e-global-color-secondary);
    background-color: #EBEBEB;
}

.elementor-36 .elementor-element.elementor-element-176d687 .elementor-button:hover svg,
.elementor-36 .elementor-element.elementor-element-176d687 .elementor-button:focus svg {
    fill: var( --e-global-color-secondary);
}

.elementor-36 .elementor-element.elementor-element-866aab4 .elementor-button-content-wrapper {
    flex-direction: row;
}

.elementor-36 .elementor-element.elementor-element-866aab4 .elementor-button .elementor-button-content-wrapper {
    gap: 15px;
}

.elementor-36 .elementor-element.elementor-element-866aab4 .elementor-button {
    font-family: "Quicksand", Sans-serif;
    font-weight: 600;
    fill: var( --e-global-color-e52e660);
    color: var( --e-global-color-e52e660);
    background-color: var( --e-global-color-primary);
    border-style: solid;
    border-color: var( --e-global-color-primary);
}

.elementor-36 .elementor-element.elementor-element-525a028 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-36 .elementor-element.elementor-element-4e40f1b {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 20px;
    --grid-column-gap: 20px;
    --grid-row-gap: 0px;
}

.elementor-36 .elementor-element.elementor-element-4e40f1b .elementor-widget-container {
    text-align: left;
}

.elementor-36 .elementor-element.elementor-element-4e40f1b .elementor-social-icon {
    background-color: var( --e-global-color-primary);
    --icon-padding: 0.3em;
}

.elementor-36 .elementor-element.elementor-element-4e40f1b .elementor-social-icon i {
    color: var( --e-global-color-e52e660);
}

.elementor-36 .elementor-element.elementor-element-4e40f1b .elementor-social-icon svg {
    fill: var( --e-global-color-e52e660);
}

.elementor-36 .elementor-element.elementor-element-4e40f1b.elementor-element {
    --order: 99999/* order end hack */
    ;
}

.elementor-36 .elementor-element.elementor-element-26845a4 .jet-inline-svg {
    max-width: 150px;
}

.elementor-36 .elementor-element.elementor-element-26845a4 .jet-inline-svg__wrapper {
    text-align: center;
}

.elementor-36 .elementor-element.elementor-element-51e8063 {
    text-align: left;
}

.elementor-36 .elementor-element.elementor-element-51e8063 .elementor-heading-title {
    color: var( --e-global-color-secondary);
    font-family: "Quicksand", Sans-serif;
    font-size: 13px;
    font-weight: 500;
}

.elementor-36 .elementor-element.elementor-element-6f0c1c91 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --gap: 20px 20px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-36 .elementor-element.elementor-element-f4216ef .jet-inline-svg {
    max-width: 170px;
}

.elementor-36 .elementor-element.elementor-element-f4216ef .jet-inline-svg__wrapper {
    text-align: left;
}

.elementor-36 .elementor-element.elementor-element-f4216ef>.elementor-widget-container {
    margin: -13px 0px 0px 0px;
}

.elementor-36 .elementor-element.elementor-element-d5a0706 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --gap: 20px 20px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-36 .elementor-element.elementor-element-620793a .elementor-icon-wrapper {
    text-align: center;
}

.elementor-36 .elementor-element.elementor-element-7f4a3ba6 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-end;
    --align-items: center;
    --gap: 20px 20px;
    --background-transition: 0.3s;
    --padding-top: 0%;
    --padding-bottom: 0%;
    --padding-left: 0%;
    --padding-right: 0%;
}

.elementor-36 .elementor-element.elementor-element-5a331ce1 .elementor-menu-toggle {
    margin-left: auto;
    background-color: #02010100;
}

.elementor-36 .elementor-element.elementor-element-5a331ce1 .elementor-nav-menu .elementor-item {
    font-family: "Quicksand", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 0px;
    word-spacing: 0em;
}

.elementor-36 .elementor-element.elementor-element-5a331ce1 .elementor-nav-menu--main .elementor-item {
    color: var( --e-global-color-primary);
    fill: var( --e-global-color-primary);
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.elementor-36 .elementor-element.elementor-element-5a331ce1 .elementor-nav-menu--main .elementor-item:hover,
.elementor-36 .elementor-element.elementor-element-5a331ce1 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-36 .elementor-element.elementor-element-5a331ce1 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-36 .elementor-element.elementor-element-5a331ce1 .elementor-nav-menu--main .elementor-item:focus {
    color: var( --e-global-color-secondary);
    fill: var( --e-global-color-secondary);
}

.elementor-36 .elementor-element.elementor-element-5a331ce1 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-36 .elementor-element.elementor-element-5a331ce1 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
    background-color: var( --e-global-color-accent);
}

.elementor-36 .elementor-element.elementor-element-5a331ce1 .e--pointer-framed .elementor-item:before,
.elementor-36 .elementor-element.elementor-element-5a331ce1 .e--pointer-framed .elementor-item:after {
    border-color: var( --e-global-color-accent);
}

.elementor-36 .elementor-element.elementor-element-5a331ce1 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: var( --e-global-color-secondary);
}

.elementor-36 .elementor-element.elementor-element-5a331ce1 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:before,
.elementor-36 .elementor-element.elementor-element-5a331ce1 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:after {
    background-color: var( --e-global-color-accent);
}

.elementor-36 .elementor-element.elementor-element-5a331ce1 .e--pointer-framed .elementor-item.elementor-item-active:before,
.elementor-36 .elementor-element.elementor-element-5a331ce1 .e--pointer-framed .elementor-item.elementor-item-active:after {
    border-color: var( --e-global-color-accent);
}

.elementor-36 .elementor-element.elementor-element-5a331ce1 .e--pointer-framed .elementor-item:before {
    border-width: 1px;
}

.elementor-36 .elementor-element.elementor-element-5a331ce1 .e--pointer-framed.e--animation-draw .elementor-item:before {
    border-width: 0 0 1px 1px;
}

.elementor-36 .elementor-element.elementor-element-5a331ce1 .e--pointer-framed.e--animation-draw .elementor-item:after {
    border-width: 1px 1px 0 0;
}

.elementor-36 .elementor-element.elementor-element-5a331ce1 .e--pointer-framed.e--animation-corners .elementor-item:before {
    border-width: 1px 0 0 1px;
}

.elementor-36 .elementor-element.elementor-element-5a331ce1 .e--pointer-framed.e--animation-corners .elementor-item:after {
    border-width: 0 1px 1px 0;
}

.elementor-36 .elementor-element.elementor-element-5a331ce1 .e--pointer-underline .elementor-item:after,
.elementor-36 .elementor-element.elementor-element-5a331ce1 .e--pointer-overline .elementor-item:before,
.elementor-36 .elementor-element.elementor-element-5a331ce1 .e--pointer-double-line .elementor-item:before,
.elementor-36 .elementor-element.elementor-element-5a331ce1 .e--pointer-double-line .elementor-item:after {
    height: 1px;
}

.elementor-36 .elementor-element.elementor-element-5a331ce1 {
    --e-nav-menu-horizontal-menu-item-margin: calc( 25px / 2);
    width: 100%;
    max-width: 100%;
}

.elementor-36 .elementor-element.elementor-element-5a331ce1 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
    margin-bottom: 25px;
}

.elementor-36 .elementor-element.elementor-element-5a331ce1 .elementor-nav-menu--dropdown a,
.elementor-36 .elementor-element.elementor-element-5a331ce1 .elementor-menu-toggle {
    color: #1C244B;
}

.elementor-36 .elementor-element.elementor-element-5a331ce1 .elementor-nav-menu--dropdown {
    background-color: #F3F5F8;
}

.elementor-36 .elementor-element.elementor-element-5a331ce1 .elementor-nav-menu--dropdown a:hover,
.elementor-36 .elementor-element.elementor-element-5a331ce1 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-36 .elementor-element.elementor-element-5a331ce1 .elementor-nav-menu--dropdown a.highlighted {
    background-color: #F9FAFD;
}

.elementor-36 .elementor-element.elementor-element-5a331ce1 .elementor-nav-menu--dropdown a.elementor-item-active {
    background-color: #F9FAFD;
}

.elementor-36 .elementor-element.elementor-element-5a331ce1 .elementor-nav-menu--dropdown .elementor-item,
.elementor-36 .elementor-element.elementor-element-5a331ce1 .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
    letter-spacing: 0px;
    word-spacing: 0em;
}

.elementor-36 .elementor-element.elementor-element-5a331ce1 div.elementor-menu-toggle {
    color: var( --e-global-color-secondary);
}

.elementor-36 .elementor-element.elementor-element-5a331ce1 div.elementor-menu-toggle svg {
    fill: var( --e-global-color-secondary);
}

.elementor-36 .elementor-element.elementor-element-dc1f207 .elementor-menu-toggle {
    margin-left: auto;
    background-color: #02010100;
}

.elementor-36 .elementor-element.elementor-element-dc1f207 .elementor-nav-menu .elementor-item {
    font-family: "Quicksand", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 0px;
    word-spacing: 0em;
}

.elementor-36 .elementor-element.elementor-element-dc1f207 .elementor-nav-menu--main .elementor-item {
    color: var( --e-global-color-primary);
    fill: var( --e-global-color-primary);
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.elementor-36 .elementor-element.elementor-element-dc1f207 .elementor-nav-menu--main .elementor-item:hover,
.elementor-36 .elementor-element.elementor-element-dc1f207 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-36 .elementor-element.elementor-element-dc1f207 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-36 .elementor-element.elementor-element-dc1f207 .elementor-nav-menu--main .elementor-item:focus {
    color: var( --e-global-color-secondary);
    fill: var( --e-global-color-secondary);
}

.elementor-36 .elementor-element.elementor-element-dc1f207 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-36 .elementor-element.elementor-element-dc1f207 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
    background-color: var( --e-global-color-accent);
}

.elementor-36 .elementor-element.elementor-element-dc1f207 .e--pointer-framed .elementor-item:before,
.elementor-36 .elementor-element.elementor-element-dc1f207 .e--pointer-framed .elementor-item:after {
    border-color: var( --e-global-color-accent);
}

.elementor-36 .elementor-element.elementor-element-dc1f207 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: var( --e-global-color-secondary);
}

.elementor-36 .elementor-element.elementor-element-dc1f207 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:before,
.elementor-36 .elementor-element.elementor-element-dc1f207 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:after {
    background-color: var( --e-global-color-accent);
}

.elementor-36 .elementor-element.elementor-element-dc1f207 .e--pointer-framed .elementor-item.elementor-item-active:before,
.elementor-36 .elementor-element.elementor-element-dc1f207 .e--pointer-framed .elementor-item.elementor-item-active:after {
    border-color: var( --e-global-color-accent);
}

.elementor-36 .elementor-element.elementor-element-dc1f207 .e--pointer-framed .elementor-item:before {
    border-width: 1px;
}

.elementor-36 .elementor-element.elementor-element-dc1f207 .e--pointer-framed.e--animation-draw .elementor-item:before {
    border-width: 0 0 1px 1px;
}

.elementor-36 .elementor-element.elementor-element-dc1f207 .e--pointer-framed.e--animation-draw .elementor-item:after {
    border-width: 1px 1px 0 0;
}

.elementor-36 .elementor-element.elementor-element-dc1f207 .e--pointer-framed.e--animation-corners .elementor-item:before {
    border-width: 1px 0 0 1px;
}

.elementor-36 .elementor-element.elementor-element-dc1f207 .e--pointer-framed.e--animation-corners .elementor-item:after {
    border-width: 0 1px 1px 0;
}

.elementor-36 .elementor-element.elementor-element-dc1f207 .e--pointer-underline .elementor-item:after,
.elementor-36 .elementor-element.elementor-element-dc1f207 .e--pointer-overline .elementor-item:before,
.elementor-36 .elementor-element.elementor-element-dc1f207 .e--pointer-double-line .elementor-item:before,
.elementor-36 .elementor-element.elementor-element-dc1f207 .e--pointer-double-line .elementor-item:after {
    height: 1px;
}

.elementor-36 .elementor-element.elementor-element-dc1f207 {
    --e-nav-menu-horizontal-menu-item-margin: calc( 30px / 2);
    width: 100%;
    max-width: 100%;
}

.elementor-36 .elementor-element.elementor-element-dc1f207 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
    margin-bottom: 30px;
}

.elementor-36 .elementor-element.elementor-element-dc1f207 .elementor-nav-menu--dropdown a,
.elementor-36 .elementor-element.elementor-element-dc1f207 .elementor-menu-toggle {
    color: #1C244B;
}

.elementor-36 .elementor-element.elementor-element-dc1f207 .elementor-nav-menu--dropdown {
    background-color: #F3F5F8;
}

.elementor-36 .elementor-element.elementor-element-dc1f207 .elementor-nav-menu--dropdown a:hover,
.elementor-36 .elementor-element.elementor-element-dc1f207 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-36 .elementor-element.elementor-element-dc1f207 .elementor-nav-menu--dropdown a.highlighted {
    background-color: #F9FAFD;
}

.elementor-36 .elementor-element.elementor-element-dc1f207 .elementor-nav-menu--dropdown a.elementor-item-active {
    background-color: #F9FAFD;
}

.elementor-36 .elementor-element.elementor-element-dc1f207 .elementor-nav-menu--dropdown .elementor-item,
.elementor-36 .elementor-element.elementor-element-dc1f207 .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
    letter-spacing: 0px;
    word-spacing: 0em;
}

.elementor-36 .elementor-element.elementor-element-dc1f207 div.elementor-menu-toggle {
    color: var( --e-global-color-secondary);
}

.elementor-36 .elementor-element.elementor-element-dc1f207 div.elementor-menu-toggle svg {
    fill: var( --e-global-color-secondary);
}

.elementor-36 .elementor-element.elementor-element-6dbb28f9 .elementor-button {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 0px;
    word-spacing: 0em;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #455141;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #455141;
    border-radius: 3px 3px 3px 3px;
    padding: 16px 45px 16px 45px;
}

.elementor-36 .elementor-element.elementor-element-6dbb28f9 .elementor-button:hover,
.elementor-36 .elementor-element.elementor-element-6dbb28f9 .elementor-button:focus {
    color: #455141;
    background-color: #02010100;
}

.elementor-36 .elementor-element.elementor-element-6dbb28f9 .elementor-button:hover svg,
.elementor-36 .elementor-element.elementor-element-6dbb28f9 .elementor-button:focus svg {
    fill: #455141;
}

.elementor-36 .elementor-element.elementor-element-6dbb28f9.elementor-element {
    --flex-grow: 1;
    --flex-shrink: 0;
}

@media(max-width:1024px) {
    .elementor-36 .elementor-element.elementor-element-43ead8fe {
        --min-height: 85px;
        --padding-top: 0%;
        --padding-bottom: 0%;
        --padding-left: 5%;
        --padding-right: 5%;
    }
    .elementor-36 .elementor-element.elementor-element-f96392b {
        --min-height: 85px;
        --padding-top: 0%;
        --padding-bottom: 0%;
        --padding-left: 5%;
        --padding-right: 5%;
    }
    .elementor-36 .elementor-element.elementor-element-7f4a3ba6 {
        --flex-wrap: nowrap;
    }
    .elementor-36 .elementor-element.elementor-element-5a331ce1 .elementor-nav-menu .elementor-item {
        font-size: 14px;
    }
    .elementor-36 .elementor-element.elementor-element-5a331ce1 .elementor-nav-menu--dropdown .elementor-item,
    .elementor-36 .elementor-element.elementor-element-5a331ce1 .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: 14px;
    }
    .elementor-36 .elementor-element.elementor-element-dc1f207 .elementor-nav-menu .elementor-item {
        font-size: 14px;
    }
    .elementor-36 .elementor-element.elementor-element-dc1f207 .elementor-nav-menu--dropdown .elementor-item,
    .elementor-36 .elementor-element.elementor-element-dc1f207 .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: 14px;
    }
    .elementor-36 .elementor-element.elementor-element-6dbb28f9 .elementor-button {
        font-size: 14px;
        padding: 14px 35px 14px 35px;
    }
}

@media(max-width:767px) {
    .elementor-36 .elementor-element.elementor-element-43ead8fe {
        --width: 100%;
        --min-height: 70px;
        --justify-content: space-between;
        --flex-wrap: nowrap;
    }
    .elementor-36 .elementor-element.elementor-element-b20c77c {
        --e-off-canvas-justify-content: flex-end;
        --e-off-canvas-align-items: flex-start;
        --e-off-canvas-height: 100vh;
        --e-off-canvas-content-overflow: auto;
    }
    .elementor-36 .elementor-element.elementor-element-41349cb {
        --width: 100%;
        --min-height: 98vh;
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --justify-content: space-between;
        --gap: 0px 0px;
        --padding-top: 0%;
        --padding-bottom: 0%;
        --padding-left: 0%;
        --padding-right: 0%;
    }
    .elementor-36 .elementor-element.elementor-element-68acef8 {
        --width: 100%;
        --min-height: 56vh;
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --justify-content: flex-start;
        --gap: 0px 0px;
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-36 .elementor-element.elementor-element-f96392b {
        --width: 100%;
        --min-height: 65px;
        --justify-content: flex-end;
        --align-items: center;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    }
    .elementor-36 .elementor-element.elementor-element-6def04d .elementor-icon {
        font-size: 30px;
    }
    .elementor-36 .elementor-element.elementor-element-6def04d .elementor-icon svg {
        height: 30px;
    }
    .elementor-36 .elementor-element.elementor-element-c0d1cf2 {
        --gap: 0px 0px;
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 1%;
        --padding-bottom: 1%;
        --padding-left: 1%;
        --padding-right: 1%;
    }
    .elementor-36 .elementor-element.elementor-element-ac25374 .elementor-button .elementor-button-content-wrapper {
        justify-content: start;
    }
    .elementor-36 .elementor-element.elementor-element-ac25374 .elementor-button {
        font-size: 18px;
        border-width: 1px 0px 0.5px 0px;
        padding: 30px 20px 30px 20px;
    }
    .elementor-36 .elementor-element.elementor-element-9283080 .elementor-button .elementor-button-content-wrapper {
        justify-content: start;
    }
    .elementor-36 .elementor-element.elementor-element-9283080 .elementor-button {
        font-size: 18px;
        border-width: 0.5px 0px 0.5px 0px;
        padding: 30px 20px 30px 20px;
    }
    .elementor-36 .elementor-element.elementor-element-43feff7 .elementor-button .elementor-button-content-wrapper {
        justify-content: start;
    }
    .elementor-36 .elementor-element.elementor-element-43feff7 .elementor-button {
        font-size: 18px;
        border-width: 0.5px 0px 0.5px 0px;
        padding: 30px 20px 30px 20px;
    }
    .elementor-36 .elementor-element.elementor-element-176d687 .elementor-button .elementor-button-content-wrapper {
        justify-content: start;
    }
    .elementor-36 .elementor-element.elementor-element-176d687 .elementor-button {
        font-size: 18px;
        border-width: 0.5px 0px 0.5px 0px;
        padding: 30px 20px 30px 20px;
    }
    .elementor-36 .elementor-element.elementor-element-866aab4 .elementor-button .elementor-button-content-wrapper {
        justify-content: start;
    }
    .elementor-36 .elementor-element.elementor-element-866aab4 .elementor-button {
        font-size: 18px;
        border-width: 1px 0px 1px 0px;
        border-radius: 3px 3px 3px 3px;
        padding: 30px 20px 30px 20px;
    }
    .elementor-36 .elementor-element.elementor-element-525a028 {
        --justify-content: center;
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-36 .elementor-element.elementor-element-525a028.e-con {
        --flex-grow: 1;
        --flex-shrink: 0;
    }
    .elementor-36 .elementor-element.elementor-element-4e40f1b .elementor-widget-container {
        text-align: center;
    }
    .elementor-36 .elementor-element.elementor-element-4e40f1b.elementor-element {
        --order: -99999/* order start hack */
        ;
    }
    .elementor-36 .elementor-element.elementor-element-26845a4 .jet-inline-svg {
        max-width: 150px;
    }
    .elementor-36 .elementor-element.elementor-element-51e8063 {
        text-align: center;
    }
    .elementor-36 .elementor-element.elementor-element-51e8063 .elementor-heading-title {
        font-size: 2.8vw;
    }
    .elementor-36 .elementor-element.elementor-element-6f0c1c91 {
        --width: 50%;
        --z-index: 99;
    }
    .elementor-36 .elementor-element.elementor-element-f4216ef {
        z-index: 99;
    }
    .elementor-36 .elementor-element.elementor-element-d5a0706 {
        --width: 50%;
        --justify-content: center;
        --align-items: flex-end;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
        --gap: 0px 0px;
    }
    .elementor-36 .elementor-element.elementor-element-d5a0706.e-con {
        --align-self: stretch;
    }
    .elementor-36 .elementor-element.elementor-element-620793a .elementor-icon {
        font-size: 30px;
    }
    .elementor-36 .elementor-element.elementor-element-620793a .elementor-icon svg {
        height: 30px;
    }
    .elementor-36 .elementor-element.elementor-element-7f4a3ba6 {
        --width: 70%;
        --padding-top: 0%;
        --padding-bottom: 0%;
        --padding-left: 0%;
        --padding-right: 0%;
    }
    .elementor-36 .elementor-element.elementor-element-5a331ce1 .elementor-nav-menu--dropdown a {
        padding-top: 14px;
        padding-bottom: 14px;
    }
    .elementor-36 .elementor-element.elementor-element-5a331ce1 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
    .elementor-36 .elementor-element.elementor-element-5a331ce1 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 30px !important;
    }
    .elementor-36 .elementor-element.elementor-element-5a331ce1 {
        --nav-menu-icon-size: 20px;
    }
    .elementor-36 .elementor-element.elementor-element-5a331ce1>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-36 .elementor-element.elementor-element-dc1f207 .elementor-nav-menu--dropdown a {
        padding-top: 14px;
        padding-bottom: 14px;
    }
    .elementor-36 .elementor-element.elementor-element-dc1f207 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
    .elementor-36 .elementor-element.elementor-element-dc1f207 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 30px !important;
    }
    .elementor-36 .elementor-element.elementor-element-dc1f207 {
        --nav-menu-icon-size: 20px;
    }
    .elementor-36 .elementor-element.elementor-element-dc1f207>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-36 .elementor-element.elementor-element-6dbb28f9 .elementor-button {
        padding: 12px 25px 12px 25px;
    }
}

@media(min-width:768px) {
    .elementor-36 .elementor-element.elementor-element-6f0c1c91 {
        --width: 40%;
    }
    .elementor-36 .elementor-element.elementor-element-d5a0706 {
        --width: 40%;
    }
    .elementor-36 .elementor-element.elementor-element-7f4a3ba6 {
        --width: 100%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-36 .elementor-element.elementor-element-6f0c1c91 {
        --width: 15%;
    }
    .elementor-36 .elementor-element.elementor-element-d5a0706 {
        --width: 15%;
    }
    .elementor-36 .elementor-element.elementor-element-7f4a3ba6 {
        --width: 85%;
    }
}

/* Start custom CSS for button, class: .elementor-element-ac25374 */

.elementor-36 .elementor-element.elementor-element-ac25374 .e-font-icon-svg {
    fill: #dfdfdf !important;
    color: #dfdfdf !important;
}

.elementor-36 .elementor-element.elementor-element-ac25374 .e-font-icon-svg:hover {
    fill: #dfdfdf !important;
    color: #dfdfdf !important;
}

/* End custom CSS */

/* Start custom CSS for button, class: .elementor-element-9283080 */

.elementor-36 .elementor-element.elementor-element-9283080 .e-font-icon-svg {
    fill: #dfdfdf !important;
    color: #dfdfdf !important;
}

.elementor-36 .elementor-element.elementor-element-9283080 .e-font-icon-svg:hover {
    fill: #dfdfdf !important;
    color: #dfdfdf !important;
}

/* End custom CSS */

/* Start custom CSS for button, class: .elementor-element-43feff7 */

.elementor-36 .elementor-element.elementor-element-43feff7 .e-font-icon-svg {
    fill: #dfdfdf !important;
    color: #dfdfdf !important;
}

.elementor-36 .elementor-element.elementor-element-43feff7 .e-font-icon-svg:hover {
    fill: #dfdfdf !important;
    color: #dfdfdf !important;
}

/* End custom CSS */

/* Start custom CSS for button, class: .elementor-element-176d687 */

.elementor-36 .elementor-element.elementor-element-176d687 .e-font-icon-svg {
    fill: #dfdfdf !important;
    color: #dfdfdf !important;
}

.elementor-36 .elementor-element.elementor-element-176d687 .e-font-icon-svg:hover {
    fill: #dfdfdf !important;
    color: #dfdfdf !important;
}

/* End custom CSS */

/* Start custom CSS for button, class: .elementor-element-866aab4 */

.elementor-36 .elementor-element.elementor-element-866aab4 .e-font-icon-svg {
    fill: #dfdfdf !important;
    color: #dfdfdf !important;
    opacity: 0.2;
}

.elementor-36 .elementor-element.elementor-element-866aab4 .e-font-icon-svg:hover {
    fill: #dfdfdf !important;
    color: #dfdfdf !important;
    opacity: 0.2;
}

/* End custom CSS */

/* Start custom CSS for nav-menu, class: .elementor-element-5a331ce1 */

.elementor-36 .elementor-element.elementor-element-5a331ce1 ul li:last-child {
    display: none;
}

/* End custom CSS */