.elementor-116 .elementor-element.elementor-element-c44ab8b {
    --display: flex;
    --min-height: 325px;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: stretch;
    --gap: 0px 0px;
    --flex-wrap: nowrap;
    --overflow: hidden;
    --background-transition: 0.3s;
    --margin-top: 0%;
    --margin-bottom: 0%;
    --margin-left: 0%;
    --margin-right: 0%;
    --padding-top: 0%;
    --padding-bottom: 0%;
    --padding-left: 8%;
    --padding-right: 8%;
    --z-index: 0;
}

.elementor-116 .elementor-element.elementor-element-c44ab8b:not(.elementor-motion-effects-element-type-background),
.elementor-116 .elementor-element.elementor-element-c44ab8b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-primary);
}

.elementor-116 .elementor-element.elementor-element-c44ab8b,
.elementor-116 .elementor-element.elementor-element-c44ab8b::before {
    --border-transition: 0.3s;
}

.elementor-116 .elementor-element.elementor-element-ce9eb46 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --gap: 20px 20px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-116 .elementor-element.elementor-element-b524da5 {
    --display: flex;
    --min-height: 220px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-116 .elementor-element.elementor-element-dfd71f9 .jet-inline-svg {
    max-width: 145px;
}

.elementor-116 .elementor-element.elementor-element-dfd71f9 .jet-inline-svg__wrapper {
    text-align: left;
}

.elementor-116 .elementor-element.elementor-element-dfd71f9>.elementor-widget-container {
    margin: -13px 0px -8px 0px;
}

.elementor-116 .elementor-element.elementor-element-65cbdfa {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 24px;
    --grid-column-gap: 15px;
    --grid-row-gap: 0px;
}

.elementor-116 .elementor-element.elementor-element-65cbdfa .elementor-widget-container {
    text-align: left;
}

.elementor-116 .elementor-element.elementor-element-65cbdfa .elementor-social-icon {
    background-color: var( --e-global-color-primary);
    --icon-padding: 0.3em;
}

.elementor-116 .elementor-element.elementor-element-65cbdfa .elementor-social-icon i {
    color: var( --e-global-color-e52e660);
}

.elementor-116 .elementor-element.elementor-element-65cbdfa .elementor-social-icon svg {
    fill: var( --e-global-color-e52e660);
}

.elementor-116 .elementor-element.elementor-element-65cbdfa.elementor-element {
    --order: 99999/* order end hack */
    ;
}

.elementor-116 .elementor-element.elementor-element-04aa053 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(15px/2);
}

.elementor-116 .elementor-element.elementor-element-04aa053 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(15px/2);
}

.elementor-116 .elementor-element.elementor-element-04aa053 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(15px/2);
    margin-left: calc(15px/2);
}

.elementor-116 .elementor-element.elementor-element-04aa053 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-15px/2);
    margin-left: calc(-15px/2);
}

body.rtl .elementor-116 .elementor-element.elementor-element-04aa053 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-15px/2);
}

body:not(.rtl) .elementor-116 .elementor-element.elementor-element-04aa053 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-15px/2);
}

.elementor-116 .elementor-element.elementor-element-04aa053 .elementor-icon-list-icon i {
    color: var( --e-global-color-e52e660);
    transition: color 0.3s;
}

.elementor-116 .elementor-element.elementor-element-04aa053 .elementor-icon-list-icon svg {
    fill: var( --e-global-color-e52e660);
    transition: fill 0.3s;
}

.elementor-116 .elementor-element.elementor-element-04aa053 {
    --e-icon-list-icon-size: 14px;
    --e-icon-list-icon-align: center;
    --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.125);
    --icon-vertical-align: flex-start;
    --icon-vertical-offset: 5px;
}

.elementor-116 .elementor-element.elementor-element-04aa053 .elementor-icon-list-icon {
    padding-right: 3px;
}

.elementor-116 .elementor-element.elementor-element-04aa053 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-116 .elementor-element.elementor-element-04aa053 .elementor-icon-list-item>a {
    font-family: "Quicksand", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-116 .elementor-element.elementor-element-04aa053 .elementor-icon-list-text {
    color: var( --e-global-color-e52e660);
    transition: color 0.3s;
}

.elementor-116 .elementor-element.elementor-element-3c3a605 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-end;
    --align-items: center;
    --gap: 0px 80px;
    --background-transition: 0.3s;
    --padding-top: 0%;
    --padding-bottom: 0%;
    --padding-left: 0%;
    --padding-right: 0%;
}

.elementor-116 .elementor-element.elementor-element-3d5fdf6 {
    --display: flex;
    --min-height: 220px;
    --flex-direction: column;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --align-items: flex-start;
    --gap: 20px 20px;
    --flex-wrap: wrap;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-116 .elementor-element.elementor-element-268a966 {
    --display: flex;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-116 .elementor-element.elementor-element-a0c2365 {
    text-align: left;
}

.elementor-116 .elementor-element.elementor-element-a0c2365 .elementor-heading-title {
    color: var( --e-global-color-e52e660);
    font-family: "Merriweather", Sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.elementor-116 .elementor-element.elementor-element-4ce2a38 {
    --divider-border-style: solid;
    --divider-color: var( --e-global-color-e52e660);
    --divider-border-width: 1px;
}

.elementor-116 .elementor-element.elementor-element-4ce2a38 .elementor-divider-separator {
    width: 195px;
}

.elementor-116 .elementor-element.elementor-element-4ce2a38 .elementor-divider {
    padding-block-start: 10px;
    padding-block-end: 10px;
}

.elementor-116 .elementor-element.elementor-element-b326d5e {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-start;
    --gap: 0px 65px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-116 .elementor-element.elementor-element-0d7f352 .elementor-nav-menu .elementor-item {
    font-family: "Quicksand", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 0px;
    word-spacing: 0em;
}

.elementor-116 .elementor-element.elementor-element-0d7f352 .elementor-nav-menu--main .elementor-item {
    color: var( --e-global-color-e52e660);
    fill: var( --e-global-color-e52e660);
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-116 .elementor-element.elementor-element-0d7f352 .elementor-nav-menu--main .elementor-item:hover,
.elementor-116 .elementor-element.elementor-element-0d7f352 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-116 .elementor-element.elementor-element-0d7f352 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-116 .elementor-element.elementor-element-0d7f352 .elementor-nav-menu--main .elementor-item:focus {
    color: var( --e-global-color-e52e660);
    fill: var( --e-global-color-e52e660);
}

.elementor-116 .elementor-element.elementor-element-0d7f352 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: #E2E2E2;
}

.elementor-116 .elementor-element.elementor-element-0d7f352 {
    --e-nav-menu-horizontal-menu-item-margin: calc( 30px / 2);
    width: auto;
    max-width: auto;
}

.elementor-116 .elementor-element.elementor-element-0d7f352 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
    margin-bottom: 30px;
}

.elementor-116 .elementor-element.elementor-element-0d7f352 .elementor-nav-menu--dropdown a,
.elementor-116 .elementor-element.elementor-element-0d7f352 .elementor-menu-toggle {
    color: #1C244B;
}

.elementor-116 .elementor-element.elementor-element-0d7f352 .elementor-nav-menu--dropdown {
    background-color: #F3F5F8;
}

.elementor-116 .elementor-element.elementor-element-0d7f352 .elementor-nav-menu--dropdown a:hover,
.elementor-116 .elementor-element.elementor-element-0d7f352 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-116 .elementor-element.elementor-element-0d7f352 .elementor-nav-menu--dropdown a.highlighted {
    background-color: #F9FAFD;
}

.elementor-116 .elementor-element.elementor-element-0d7f352 .elementor-nav-menu--dropdown a.elementor-item-active {
    background-color: #F9FAFD;
}

.elementor-116 .elementor-element.elementor-element-0d7f352 .elementor-nav-menu--dropdown .elementor-item,
.elementor-116 .elementor-element.elementor-element-0d7f352 .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
    letter-spacing: 0px;
    word-spacing: 0em;
}

.elementor-116 .elementor-element.elementor-element-21fe586 .elementor-nav-menu .elementor-item {
    font-family: "Quicksand", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 0px;
    word-spacing: 0em;
}

.elementor-116 .elementor-element.elementor-element-21fe586 .elementor-nav-menu--main .elementor-item {
    color: var( --e-global-color-e52e660);
    fill: var( --e-global-color-e52e660);
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-116 .elementor-element.elementor-element-21fe586 .elementor-nav-menu--main .elementor-item:hover,
.elementor-116 .elementor-element.elementor-element-21fe586 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-116 .elementor-element.elementor-element-21fe586 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-116 .elementor-element.elementor-element-21fe586 .elementor-nav-menu--main .elementor-item:focus {
    color: var( --e-global-color-e52e660);
    fill: var( --e-global-color-e52e660);
}

.elementor-116 .elementor-element.elementor-element-21fe586 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: #E2E2E2;
}

.elementor-116 .elementor-element.elementor-element-21fe586 {
    --e-nav-menu-horizontal-menu-item-margin: calc( 30px / 2);
    width: auto;
    max-width: auto;
}

.elementor-116 .elementor-element.elementor-element-21fe586 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
    margin-bottom: 30px;
}

.elementor-116 .elementor-element.elementor-element-21fe586 .elementor-nav-menu--dropdown a,
.elementor-116 .elementor-element.elementor-element-21fe586 .elementor-menu-toggle {
    color: #1C244B;
}

.elementor-116 .elementor-element.elementor-element-21fe586 .elementor-nav-menu--dropdown {
    background-color: #F3F5F8;
}

.elementor-116 .elementor-element.elementor-element-21fe586 .elementor-nav-menu--dropdown a:hover,
.elementor-116 .elementor-element.elementor-element-21fe586 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-116 .elementor-element.elementor-element-21fe586 .elementor-nav-menu--dropdown a.highlighted {
    background-color: #F9FAFD;
}

.elementor-116 .elementor-element.elementor-element-21fe586 .elementor-nav-menu--dropdown a.elementor-item-active {
    background-color: #F9FAFD;
}

.elementor-116 .elementor-element.elementor-element-21fe586 .elementor-nav-menu--dropdown .elementor-item,
.elementor-116 .elementor-element.elementor-element-21fe586 .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
    letter-spacing: 0px;
    word-spacing: 0em;
}

.elementor-116 .elementor-element.elementor-element-6b6af3c {
    --display: flex;
    --min-height: 220px;
    --flex-direction: column;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --align-items: flex-start;
    --gap: 20px 20px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-116 .elementor-element.elementor-element-ddf1b3b {
    --display: flex;
    --min-height: 10px;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-116 .elementor-element.elementor-element-517db1c {
    text-align: left;
}

.elementor-116 .elementor-element.elementor-element-517db1c .elementor-heading-title {
    color: var( --e-global-color-e52e660);
    font-family: "Merriweather", Sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.elementor-116 .elementor-element.elementor-element-4a18c2f {
    --divider-border-style: solid;
    --divider-color: var( --e-global-color-e52e660);
    --divider-border-width: 1px;
}

.elementor-116 .elementor-element.elementor-element-4a18c2f .elementor-divider-separator {
    width: 155px;
}

.elementor-116 .elementor-element.elementor-element-4a18c2f .elementor-divider {
    padding-block-start: 10px;
    padding-block-end: 10px;
}

.elementor-116 .elementor-element.elementor-element-ade4e16 .elementor-nav-menu .elementor-item {
    font-family: "Quicksand", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 0px;
    word-spacing: 0em;
}

.elementor-116 .elementor-element.elementor-element-ade4e16 .elementor-nav-menu--main .elementor-item {
    color: var( --e-global-color-e52e660);
    fill: var( --e-global-color-e52e660);
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-116 .elementor-element.elementor-element-ade4e16 .elementor-nav-menu--main .elementor-item:hover,
.elementor-116 .elementor-element.elementor-element-ade4e16 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-116 .elementor-element.elementor-element-ade4e16 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-116 .elementor-element.elementor-element-ade4e16 .elementor-nav-menu--main .elementor-item:focus {
    color: var( --e-global-color-e52e660);
    fill: var( --e-global-color-e52e660);
}

.elementor-116 .elementor-element.elementor-element-ade4e16 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: #E2E2E2;
}

.elementor-116 .elementor-element.elementor-element-ade4e16 {
    --e-nav-menu-horizontal-menu-item-margin: calc( 30px / 2);
    width: auto;
    max-width: auto;
}

.elementor-116 .elementor-element.elementor-element-ade4e16 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
    margin-bottom: 30px;
}

.elementor-116 .elementor-element.elementor-element-ade4e16 .elementor-nav-menu--dropdown a,
.elementor-116 .elementor-element.elementor-element-ade4e16 .elementor-menu-toggle {
    color: #1C244B;
}

.elementor-116 .elementor-element.elementor-element-ade4e16 .elementor-nav-menu--dropdown {
    background-color: #F3F5F8;
}

.elementor-116 .elementor-element.elementor-element-ade4e16 .elementor-nav-menu--dropdown a:hover,
.elementor-116 .elementor-element.elementor-element-ade4e16 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-116 .elementor-element.elementor-element-ade4e16 .elementor-nav-menu--dropdown a.highlighted {
    background-color: #F9FAFD;
}

.elementor-116 .elementor-element.elementor-element-ade4e16 .elementor-nav-menu--dropdown a.elementor-item-active {
    background-color: #F9FAFD;
}

.elementor-116 .elementor-element.elementor-element-ade4e16 .elementor-nav-menu--dropdown .elementor-item,
.elementor-116 .elementor-element.elementor-element-ade4e16 .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
    letter-spacing: 0px;
    word-spacing: 0em;
}

.elementor-116 .elementor-element.elementor-element-ff1ab46 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: stretch;
    --gap: 0px 0px;
    --flex-wrap: nowrap;
    --overflow: hidden;
    --background-transition: 0.3s;
    --margin-top: 0%;
    --margin-bottom: 0%;
    --margin-left: 0%;
    --margin-right: 0%;
    --padding-top: 0%;
    --padding-bottom: 0%;
    --padding-left: 8%;
    --padding-right: 8%;
    --z-index: 0;
}

.elementor-116 .elementor-element.elementor-element-ff1ab46:not(.elementor-motion-effects-element-type-background),
.elementor-116 .elementor-element.elementor-element-ff1ab46>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #2D352A;
}

.elementor-116 .elementor-element.elementor-element-ff1ab46,
.elementor-116 .elementor-element.elementor-element-ff1ab46::before {
    --border-transition: 0.3s;
}

.elementor-116 .elementor-element.elementor-element-5b74b6e {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --gap: 20px 20px;
    --background-transition: 0.3s;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-116 .elementor-element.elementor-element-aabd053 {
    text-align: left;
}

.elementor-116 .elementor-element.elementor-element-aabd053 .elementor-heading-title {
    color: var( --e-global-color-e52e660);
    font-family: "Quicksand", Sans-serif;
    font-size: 13px;
    font-weight: 500;
}

@media(min-width:768px) {
    .elementor-116 .elementor-element.elementor-element-ce9eb46 {
        --width: 40%;
    }
    .elementor-116 .elementor-element.elementor-element-3c3a605 {
        --width: 60%;
    }
    .elementor-116 .elementor-element.elementor-element-3d5fdf6 {
        --width: 250px;
    }
    .elementor-116 .elementor-element.elementor-element-6b6af3c {
        --width: 190px;
    }
    .elementor-116 .elementor-element.elementor-element-5b74b6e {
        --width: 100%;
    }
}

@media(max-width:1366px) and (min-width:768px) {
    .elementor-116 .elementor-element.elementor-element-3d5fdf6 {
        --width: 210px;
    }
    .elementor-116 .elementor-element.elementor-element-6b6af3c {
        --width: 170px;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-116 .elementor-element.elementor-element-ce9eb46 {
        --width: 60%;
    }
    .elementor-116 .elementor-element.elementor-element-3c3a605 {
        --width: 85%;
    }
}

@media(max-width:1366px) {
    .elementor-116 .elementor-element.elementor-element-3c3a605 {
        --justify-content: flex-end;
    }
    .elementor-116 .elementor-element.elementor-element-4ce2a38 .elementor-divider-separator {
        width: 100%;
    }
    .elementor-116 .elementor-element.elementor-element-4a18c2f .elementor-divider-separator {
        width: 100%;
    }
}

@media(max-width:1024px) {
    .elementor-116 .elementor-element.elementor-element-c44ab8b {
        --padding-top: 0%;
        --padding-bottom: 0%;
        --padding-left: 5%;
        --padding-right: 5%;
    }
    .elementor-116 .elementor-element.elementor-element-3c3a605 {
        --gap: 0px 40px;
        --flex-wrap: nowrap;
    }
    .elementor-116 .elementor-element.elementor-element-4ce2a38 .elementor-divider-separator {
        width: 100%;
    }
    .elementor-116 .elementor-element.elementor-element-b326d5e {
        --gap: 0px 50px;
    }
    .elementor-116 .elementor-element.elementor-element-0d7f352 .elementor-nav-menu .elementor-item {
        font-size: 14px;
    }
    .elementor-116 .elementor-element.elementor-element-0d7f352 .elementor-nav-menu--dropdown .elementor-item,
    .elementor-116 .elementor-element.elementor-element-0d7f352 .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: 14px;
    }
    .elementor-116 .elementor-element.elementor-element-0d7f352 {
        width: auto;
        max-width: auto;
    }
    .elementor-116 .elementor-element.elementor-element-21fe586 .elementor-nav-menu .elementor-item {
        font-size: 14px;
    }
    .elementor-116 .elementor-element.elementor-element-21fe586 .elementor-nav-menu--dropdown .elementor-item,
    .elementor-116 .elementor-element.elementor-element-21fe586 .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: 14px;
    }
    .elementor-116 .elementor-element.elementor-element-21fe586 {
        width: auto;
        max-width: auto;
    }
    .elementor-116 .elementor-element.elementor-element-ade4e16 .elementor-nav-menu .elementor-item {
        font-size: 14px;
    }
    .elementor-116 .elementor-element.elementor-element-ade4e16 .elementor-nav-menu--dropdown .elementor-item,
    .elementor-116 .elementor-element.elementor-element-ade4e16 .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: 14px;
    }
    .elementor-116 .elementor-element.elementor-element-ade4e16 {
        width: auto;
        max-width: auto;
    }
    .elementor-116 .elementor-element.elementor-element-ff1ab46 {
        --padding-top: 0%;
        --padding-bottom: 0%;
        --padding-left: 5%;
        --padding-right: 5%;
    }
}

@media(max-width:767px) {
    .elementor-116 .elementor-element.elementor-element-c44ab8b {
        --width: 100%;
        --min-height: 65px;
        --flex-direction: column;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --justify-content: space-around;
        --align-items: center;
        --gap: 40px 40px;
        --padding-top: 40px;
        --padding-bottom: 40px;
        --padding-left: 20px;
        --padding-right: 20px;
    }
    .elementor-116 .elementor-element.elementor-element-ce9eb46 {
        --align-items: flex-start;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
        --gap: 0px 0px;
    }
    .elementor-116 .elementor-element.elementor-element-b524da5 {
        --min-height: 0px;
        --gap: 20px 20px;
    }
    .elementor-116 .elementor-element.elementor-element-dfd71f9>.elementor-widget-container {
        margin: -13px 0px -5px 0px;
    }
    .elementor-116 .elementor-element.elementor-element-04aa053 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-116 .elementor-element.elementor-element-04aa053 .elementor-icon-list-item>a {
        line-height: 1.7em;
    }
    .elementor-116 .elementor-element.elementor-element-3c3a605 {
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --gap: 50px 50px;
        --padding-top: 0%;
        --padding-bottom: 0%;
        --padding-left: 0%;
        --padding-right: 0%;
    }
    .elementor-116 .elementor-element.elementor-element-3d5fdf6 {
        --min-height: 0px;
    }
    .elementor-116 .elementor-element.elementor-element-4ce2a38 .elementor-divider-separator {
        width: 100vw;
    }
    .elementor-116 .elementor-element.elementor-element-b326d5e {
        --gap: 0px 80px;
    }
    .elementor-116 .elementor-element.elementor-element-0d7f352 .elementor-nav-menu--dropdown a {
        padding-top: 14px;
        padding-bottom: 14px;
    }
    .elementor-116 .elementor-element.elementor-element-0d7f352 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
    .elementor-116 .elementor-element.elementor-element-0d7f352 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 30px !important;
    }
    .elementor-116 .elementor-element.elementor-element-0d7f352>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-116 .elementor-element.elementor-element-21fe586 .elementor-nav-menu--dropdown a {
        padding-top: 14px;
        padding-bottom: 14px;
    }
    .elementor-116 .elementor-element.elementor-element-21fe586 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
    .elementor-116 .elementor-element.elementor-element-21fe586 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 30px !important;
    }
    .elementor-116 .elementor-element.elementor-element-21fe586>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-116 .elementor-element.elementor-element-6b6af3c {
        --min-height: 0px;
    }
    .elementor-116 .elementor-element.elementor-element-4a18c2f .elementor-divider-separator {
        width: 100vw;
    }
    .elementor-116 .elementor-element.elementor-element-ade4e16 .elementor-nav-menu--dropdown a {
        padding-top: 14px;
        padding-bottom: 14px;
    }
    .elementor-116 .elementor-element.elementor-element-ade4e16 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
    .elementor-116 .elementor-element.elementor-element-ade4e16 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 30px !important;
    }
    .elementor-116 .elementor-element.elementor-element-ade4e16>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-116 .elementor-element.elementor-element-ff1ab46 {
        --width: 100%;
        --min-height: 65px;
        --justify-content: space-around;
        --align-items: center;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    }
    .elementor-116 .elementor-element.elementor-element-aabd053 .elementor-heading-title {
        font-size: 2.8vw;
    }
}

/* Start custom CSS for nav-menu, class: .elementor-element-0d7f352 */

.elementor-116 .elementor-element.elementor-element-0d7f352 ul li:nth-child(n+3) {
    display: none;
}

/* End custom CSS */

/* Start custom CSS for nav-menu, class: .elementor-element-21fe586 */

.elementor-116 .elementor-element.elementor-element-21fe586 ul li:nth-child(-n+2) {
    display: none;
}

/* End custom CSS */